<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="resources/estilos/style.css">
</head>
<body>
    <section>
        <div class="imgBx">
            <img src="resources/img/inde.svg">
        </div>
        <div class="contentBx">
            <div class="formBx">
                <div class="inputBx">
                    <p>Already have an account? <button  type="button"  onclick="window.location.href='register'">Register</button></p>
                </div>
                <h2>ABC English Club</h2>
                <form action="/auth" method="POST">
                    <div class="inputBx">
                        <span>Username</span>
                        <input type="text" name="user">
                    </div>
                    <div class="inputBx">
                        <span>Password</span>
                        <input type="password" name="pass">
                    </div>
                    <div class="inputBx">
                        <input type="submit" value="Start Now!" name="">
                    </div>
                </form>
            </div>
        </div>
    </section>
<!-- SweetAlert -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<% if(typeof alert != "undefined") { %>
    <script>
        Swal.fire({
            title: '<%= alertTitle %>',
            text: '<%= alertMessage %>',
            icon: '<%=  alertIcon %>',
            showConfirmButton: <%= showConfirmButton %> ,
            timer: <%= timer %>
        }).then(()=>{
            window.location='/<%=ruta%>'
        })
    </script>
    <% } %>
</body>
</html>